
:root {
    --color-background: #181818;
    --color-background-soft: #222222;
    --color-background-mute: #282828;

    --color-heading: #fff;
    --color-text: rgba(255, 255, 255, 0.5);
    --google-gradient: linear-gradient(90deg, #eb493b 0%, #fbbc05 30%, #34a853 60%, #4285f4 100%);
    --qgpt-gradient: linear-gradient(90deg, #fc4c51 0%, #fd8001 30%, #b8d2e9 60%, #fc4c51 100%);
    --gpt-gradient-reverse: linear-gradient(90deg, #fc4c51 0%,  #b8d2e9 30%, #fd8001 60%, #fc4c51 1000%);
}


* {
  box-sizing: border-box;
  margin: 0;
  scrollbar-color: purple #2a3038 ;
}

body {
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100dvh;
  background-size: cover;
}
p.cache_p {
  color: var(--color-text) !important;
}

a {
  color: #99c3ff;
  text-decoration: none;
}

a:visited {
  color:#c58af9;
}

.link_p a {
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

.arch, .arch:visited{
  color: brown;
}